<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "cat.jpg" %>');">
  <div class="container">
    <h1>Use <strong>PetFinder</strong> to reunite with your lost pet</h1>
    <p>List an advertisement for a lost pet you found</p>
    <a class="btn btn-flat" href="#">Enter website</a>
  </div>
</div>
